a
{
  text-decoration: none;
  color: white;
  border-radius: 50%;

  transition: all .2s;
}
a:hover
{
  background-color: rgb(255, 255, 255);
  color: rgba(18, 80, 195, 0.746);
}
@media screen and (max-width: 480px) {
  p {
    font-size: 15px;
}
}
