<nav class="bg-dark text-light p-3 mt-5">
  <div class="container">
    <div class="row">
      <div class="icons col-md-5 col-sm-12 mx-3  fs-3">
        <a href="https://www.facebook.com/profile.php?id=100009866701546"><i class="fa-brands fa-facebook mx-2"></i></a>
        <a href="https://twitter.com/MEbrahrem"><i  class="fa-brands fa-twitter  mx-2"></i></a>
        <a href="https://www.instagram.com/mohammedebrahiiim/?fbclid=IwAR1snRz9K4rlzzsuSHbnkABTll6aMgWVmKu8Y2aExlUHRd7exAI3LEq52Pw"> <i class="fa-brands fa-instagram  mx-2"></i></a>
        <a href="https://www.linkedin.com/in/mohamed-abdelazez-a87075193/"> <i class="fa-brands fa-linkedin  mx-2"></i></a>
        <a href="https://github.com/MohammedIbrahiim"><i class="fab fa-github mx-2 "></i></a>
      </div>
      <div class="col-md-6 col-sm-12 text-center fs-3 ">
          <p class="ms-auto">Copyright © mohamed ibrahim  2022 </p>
      </div>
    </div>
  </div>
</nav>
