
<div class="container" id="home">
  <div class="row">
    <div class="item col-md-7 mt-5  doc-position">
      <h3 class="mt-5">EXPLORE THE WORLD</h3>
      <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi corporis optio minima repellat vitae, amet necessitatibus reprehenderit dolor explicabo architecto sunt quo esse, mollitia laboriosam ullam possimus! Architecto, illo dicta!</p>
        <ul class="d-flex list-unstyled mt-5">
          <li class="me-5 pe-5 text-primary">WORLDWIDE CASES <br> <span class="fw-bold">{{totalConfirmed}}</span>  </li>
          <li class="me-5 pe-5 text-danger ">DEATHS <br><span class="fw-bold">{{TotalDeaths}}</span> </li>
        </ul>
      <p class="mt-5 text-muted"> Last Updated : <span class="fw-bold"> {{today}}</span></p>
    </div>
    <div class="col-md-4">
      <img class=" h-img" src="././assets/bg-header.png" alt="">
    </div>
  </div>
</div>

<div class="container mt-5 text-center" id="safe">
  <div class="row">
    <h3 class="txt-blue text-repo">Take Steps to Protect Others</h3>
    <p class="text-muted">The virus can spread from an infected person’s mouth or nose in small liquid particles when <br> they cough, sneeze, speak, sing or breathe.These particles range from larger respiratory<br> droplets to smaller aerosols. It is important to practice respiratory etiquette.</p>
    <div class=" col-md-6 col-lg-4  mt-5">
      <img src="././assets/home.svg" alt="">
      <p class="mt-1 fs-3 ">Stay At Home</p>
      <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias fugiat mollitia fugit. Quo, laboriosam! Ex numquam voluptatibus ipsam ipsa sed, quod sunt illum quidem obcaecati temporibus nisi facere consequatur corrupti!</p>
    </div>

    <div class=" col-md-6 col-lg-4  mt-5">
      <img src="././assets/soap.png" alt="">
      <p class="mt-1 fs-3 ">Use Soap</p>
      <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias fugiat mollitia fugit. Quo, laboriosam! Ex numquam voluptatibus ipsam ipsa sed, quod sunt illum quidem obcaecati temporibus nisi facere consequatur corrupti!</p>
    </div>

    <div class=" col-md-6 col-lg-4  mt-5">
      <img src="././assets/wash-your-hands.png" alt="">
      <p class="mt-1 fs-3 ">Stay At Home</p>
      <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias fugiat mollitia fugit. Quo, laboriosam! Ex numquam voluptatibus ipsam ipsa sed, quod sunt illum quidem obcaecati temporibus nisi facere consequatur corrupti!</p>
    </div>

    <div class=" col-md-6 col-lg-4  mt-5">
      <img src="././assets/social-distancing.png" alt="">
      <p class="mt-1 fs-3 ">Keep Distance</p>
      <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias fugiat mollitia fugit. Quo, laboriosam! Ex numquam voluptatibus ipsam ipsa sed, quod sunt illum quidem obcaecati temporibus nisi facere consequatur corrupti!</p>
    </div>

    <div class=" col-md-6 col-lg-4  mt-5">
      <img src="././assets/gel.png" alt="">
      <p class="mt-1 fs-3 ">Use Gel</p>
      <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias fugiat mollitia fugit. Quo, laboriosam! Ex numquam voluptatibus ipsam ipsa sed, quod sunt illum quidem obcaecati temporibus nisi facere consequatur corrupti!</p>
    </div>

    <div class=" col-md-6 col-lg-4  mt-5">
      <img src="././assets/mask.png" alt="">
      <p class="mt-1 fs-3 ">Wear Mask</p>
      <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias fugiat mollitia fugit. Quo, laboriosam! Ex numquam voluptatibus ipsam ipsa sed, quod sunt illum quidem obcaecati temporibus nisi facere consequatur corrupti!</p>
    </div>


  </div>
</div>

<div class="container mt-5" id="monitor">
  <div class="row mt-5">
    <div class="col-md-6">
      <img class="w-100" src="././assets/monitor.png" alt="">
    </div>
    <div class="col-md-6 mt-5  doc-position ">
      <h5 class="mt-5 txt-blue">Monitor</h5>
      <p class="m-size">your family's temperature</p>
      <p class="text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam similique necessitatibus quod, atque consectetur dolor enim ratione porro blanditiis assumenda quam quidem consequuntur pariatur perspiciatis, modi commodi esse repellat. Excepturi.</p>

    </div>
  </div>

</div>

<div class="container mt-5 " id="doctor">
  <div class="row">
    <div class="col-md-6 mt-5 doc-position">
        <h5 class="txt-blue">Ask DOCTOR</h5>
        <form action="" >
          <input type="text" class="form-control my-5" placeholder="Your Name">
          <input type="Email" class="form-control my-5" placeholder="Your Mail">
          <textarea  class="form-control my-5" placeholder="Your Question" cols="10" rows="5"></textarea>
          <button class="btn btn-primary">Send</button>
        </form>
    </div>

    <div class="col-md-6">
      <img class="w-100" src="././assets/doctor.png" alt="">
    </div>

  </div>
</div>

<a href="#" class="arrow active" id="arrow">
  <i  class="fas fa-arrow-up"></i>
</a>
