<div class="container mt-5 text-center" id="safe">
  <div class="row">
    <h3 class="txt-blue text-repo">Take Steps to Protect Others</h3>
    <p class="text-muted">The virus can spread from an infected person’s mouth or nose in small liquid particles when <br> they cough, sneeze, speak, sing or breathe.These particles range from larger respiratory<br> droplets to smaller aerosols. It is important to practice respiratory etiquette.</p>
    <div class=" col-md-6 col-lg-4  mt-5">
      <img src="../../assets/home.svg" alt="">
      <p class="mt-1 fs-3 ">Stay At Home</p>
      <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias fugiat mollitia fugit. Quo, laboriosam! Ex numquam voluptatibus ipsam ipsa sed, quod sunt illum quidem obcaecati temporibus nisi facere consequatur corrupti!</p>
    </div>

    <div class=" col-md-6 col-lg-4  mt-5">
      <img src="../../assets/soap.png" alt="">
      <p class="mt-1 fs-3 ">Use Soap</p>
      <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias fugiat mollitia fugit. Quo, laboriosam! Ex numquam voluptatibus ipsam ipsa sed, quod sunt illum quidem obcaecati temporibus nisi facere consequatur corrupti!</p>
    </div>

    <div class=" col-md-6 col-lg-4  mt-5">
      <img src="../../assets/wash-your-hands.png" alt="">
      <p class="mt-1 fs-3 ">Stay At Home</p>
      <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias fugiat mollitia fugit. Quo, laboriosam! Ex numquam voluptatibus ipsam ipsa sed, quod sunt illum quidem obcaecati temporibus nisi facere consequatur corrupti!</p>
    </div>

    <div class=" col-md-6 col-lg-4  mt-5">
      <img src="../../assets/social-distancing.png" alt="">
      <p class="mt-1 fs-3 ">Keep Distance</p>
      <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias fugiat mollitia fugit. Quo, laboriosam! Ex numquam voluptatibus ipsam ipsa sed, quod sunt illum quidem obcaecati temporibus nisi facere consequatur corrupti!</p>
    </div>

    <div class=" col-md-6 col-lg-4  mt-5">
      <img src="../../assets/gel.png" alt="">
      <p class="mt-1 fs-3 ">Use Gel</p>
      <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias fugiat mollitia fugit. Quo, laboriosam! Ex numquam voluptatibus ipsam ipsa sed, quod sunt illum quidem obcaecati temporibus nisi facere consequatur corrupti!</p>
    </div>

    <div class=" col-md-6 col-lg-4  mt-5">
      <img src="../../assets/mask.png" alt="">
      <p class="mt-1 fs-3 ">Wear Mask</p>
      <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias fugiat mollitia fugit. Quo, laboriosam! Ex numquam voluptatibus ipsam ipsa sed, quod sunt illum quidem obcaecati temporibus nisi facere consequatur corrupti!</p>
    </div>


  </div>
</div>
