<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <h2 class="fw-bolder">{{testt.count}}</h2>
      <p class="text-danger fw-bolder">Note : No Statistics On Recovery Cases Yet..    </p>

      <h3 class="mt-5">Total Confirmed</h3>
      <p class="text-primary fw-bolder fs-4">{{testt.TotalConfirmed}}</p>

      <h3 class="mt-5"> Total Deaths</h3>
      <p  class="text-danger fw-bolder fs-4"  >{{testt.TotalDeaths}}</p>
  </div>
  <div class="col-md-6">
    <canvas id="myChart"></canvas>
    <canvas class="mt-5" id="myChart2"></canvas>
  </div>


  </div>
</div>
