<div class="container mt-5" id="monitor">
  <div class="row mt-5">
    <div class="col-md-6">
      <img class="w-100" src="../../assets/monitor.png" alt="">
    </div>
    <div class="col-md-6 mt-5  doc-position ">
      <h5 class="mt-5 txt-blue">Monitor</h5>
      <p class="m-size">your family's temperature</p>
      <p class="text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam similique necessitatibus quod, atque consectetur dolor enim ratione porro blanditiis assumenda quam quidem consequuntur pariatur perspiciatis, modi commodi esse repellat. Excepturi.</p>
    </div>
  </div>
</div>
